body {
    background-color: #0C0E14;
}

body.header-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

body.header-content .logo {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

